<!DOCTYPE html>
<html lang="PT">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/template.css">
    <link rel="shortcut icon" href="/imgs/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="max-width">
                <div class="logo"><a href="#">Match<span>TI</span></a></div>
                <ul class="menu">
                    <li><a href="/index.html#home" class="menu-btn">Home</a></li>
                    <li><a href="/template-profissionais.html">Técnicos</a></li>
                    <li><a href="/index.html#about" class="menu-btn">Sobre nós</a></li>
                    <li><a href="/index.html#services" class="menu-btn">Serviços</a></li>
                    <li><a href="/index.html#teams" class="menu-btn">Equipe</a></li>
                    <li><a href="/index.html#contact" class="menu-btn">Contatos</a></li>
                    <li><a href="/login.html" class="menu-btn">Cadastra/Login</a></li>
                </ul>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-contents">
        <div>
            <section>
                <div class="search-container">
                    <form action="" method="get"> 
                        <input type="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </section>
            <section class="cards">
                                   
            </section>
        </div>
    </main>

    <script src="/scripts/template-script.js"></script>
</body>

</html>